*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}
/* style html and body */
html,
body {
  background-color: #F7F8FB;
  margin: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
  height: 100%;
}
body::-webkit-scrollbar{
    display: none;
}


